<h1>Welcome to my vet Clinic</h1>
<ul>
  <li><%=link_to "Doctors Login", doctors_path %></li>
  <li><%=link_to "Receptionist Login" , appointments_path %></li>
  <li><%=link_to "Patients Login", appointments_path %></li>
</ul>
